page-home {

}

.course-img{
  height: 50px;
  width: 50px;
  float:left;
  border-radius: 50%;
  margin-right: 10px;
}

.course-code{
  font-size: 14px;
  font-weight: bold;
}

.course-title{
}

.course-card{
  border-bottom: 1px solid grey;
}
